<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div class="container">
    <h2>Quiz</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <form [formGroup]="nestedForm">
           <div>
             <input type="text" class="form-control" formControlName="dept_name" placeholder="Enter the subject name">
           </div>
          <div class="panel panel-default" formArrayName="Questions">
            <div class="panel-body" *ngFor="let question of QuestionControl.controls; let QuesIdx=index;"
              [formGroupName]="QuesIdx">
              <div class="form-group base">
                <a (click)="removeQuestions(QuesIdx)">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
                <label>Enter the Question</label>
                <!-- <input type='text' formControlName="quesId" value="{{ QuesIdx }}"> -->
                <input type="text" class="form-control" formControlName="question_name" placeholder="Enter question">
                <br>
                <div formArrayName="Options">
                  <div *ngFor="let option of getOptionControl(question).controls;  let OptIdx=index"
                    [formGroupName]="OptIdx">
                    <input type="text" class="form-control options" formControlName="option_name"
                      placeholder="Enter the options">
                    <!-- <div class="radio">
                      <label>
                          <input type="radio" formControlName='optsId'  (click)="sendOptsId(QuesIdx,OptIdx)"/>
                        {{IsAnswer}}</label>
                    </div> -->
                    <input type="text"  formControlName="IsAnswer" placeholder="true/false">
                    <a (click)="removeOptions(question,OptIdx)"><span class="glyphicon glyphicon-trash"></span>
                    </a>
                    <br>
                    <br>
                  </div>
                  <br>
                </div>
                
                <button class="btn btn-primary" type="button" (click)="AddOptions(question)">Add Options</button>
              </div>
              <hr>
              <hr>
              <br>
            </div>
            <button type="button" class="btn btn-success" (click)="AddQuestions()">Add another Question</button>
          </div>
          <br>
          <br>
          <button type="submit" class="btn btn-primary" (click)="submitForm(nestedForm.value)">Submit</button>
        </form>
      </div>
    </div>
  </div>

</body>

</html>



<!-- Add a new pannel -->
<!-- <div class="panel panel-default" *ngFor="let newQues of QuesService.getQuestions() let i=index">
                <div class="panel-body">
                  <div class="form-group base">
                        <a (click)="removeQuestion(newQues)">
                                <span class="glyphicon glyphicon-trash"></span>
                              </a>
                              <br>
                    <label>Enter the question {{newQues.id}}</label>
                    <input type="text" class="form-control" formControlName="name" value="{{sampleString}}" placeholder="Enter question">
                    <button class="btn btn-primary" type="button" (click)="AddAnotherOptions(newQues.id)">Add Options</button>
                    <div *ngFor="let option of QuesService.getOptions()">
                      <input type="text" class="form-control options" formControlName="name" placeholder="Enter the options">
                    </div>
                  </div>
                </div>
              </div> -->
