<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
 
<head> 
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<!-- <hr> -->
<!-- <div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>User name</h1></div>
      <div class="col-sm-2"><a href="/users" class="pull-right">
        <img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a>
      </div>
        </div>
    </div> -->
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
	  </div>
	<!-- </hr> -->
<br>

               
          <div class="panel panel-default">
            <div class="panel-heading">Home <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a href="#">Go back Dashboard</a></div>
          </div>
          
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">User Profile</a></li>
                <li><a data-toggle="tab" href="#changePassword">Change Password</a></li>
              </ul>
 
               
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                  <form class="form" action="##" method="post" id="registrationForm" [formGroup]="userProfileForm" (submit)="SubmitProfileForm()">
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="Firstname"><h4>First name<sup>*</sup></h4></label>
                              <input type="text" formControlName="username" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any." 
                              [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                              <!-- <span *ngIf="!userProfileForm.get('username').valid && userProfileForm.get('username').touched" class="spanVaild">Enter Your First Name less then 25 characters</span> -->
                              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Enter Your First Name less then 25 characters</div>
                              </div>
                            </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Last name</h4></label>
                              <input type="text" class="form-control" formControlName="lastname" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">                            
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="phone"><h4>Phone<sup>*</sup></h4></label>
                              <input type="number" formControlName="phone" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any."
                              [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                              <!-- <span *ngIf="!userProfileForm.get('phone').valid && userProfileForm.get('phone').touched" class="spanVaild">Enter Your Mobile Number</span> -->
                              <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                <div *ngIf="f.phone.errors.required">Enter Your Mobile Number</div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email<sup>*</sup></h4></label>
                              <input type="email" formControlName="email" class="form-control" name="email" 
                              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="you@email.com" title="enter your email.">
                              <!-- <span *ngIf="!userProfileForm.get('email').valid && userProfileForm.get('email').touched" class="spanVaild">Enter Your Email Address</span> -->
                              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Enter Your Email Address</div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="location"><h4>Location<sup>*</sup></h4></label>
                              <input type="text" formControlName="location" class="form-control" id="location" 
                              [ngClass]="{ 'is-invalid': submitted && f.location.errors }" placeholder="Enter a location" title="enter a location">
                              <!-- <span *ngIf="!userProfileForm.get('location').valid && userProfileForm.get('location').touched" class="spanVaild">Enter Your location</span> -->
                              <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                                <div *ngIf="f.location.errors.required">Enter Your location</div>
                              </div>  
                          </div>
					  </div>
					  
					  <div class="form-group">
                          
						<div class="col-xs-6">
							<label for="address"><h4>Address</h4></label>
							<input type="text" class="form-control" id="address" formControlName="address" placeholder="Enter a Address" title="enter a Address">
						</div>
					</div>

					<div class="form-group">      
						<div class="col-xs-6">
							<label for="faterMotherName"><h4>Father's/Mother's Name<sup>*</sup></h4></label>
              <input type="text" formControlName="faterMotherName" class="form-control" id="faterMotherName" 
              [ngClass]="{ 'is-invalid': submitted && f.faterMotherName.errors }" placeholder="Enter Your Father's/Mother's Name" title="Enter Your Father's/Mother's Name">
              <!-- <span *ngIf="!userProfileForm.get('faterMotherName').valid && userProfileForm.get('faterMotherName').touched" class="spanVaild">Enter Your Father's/Mother's Name</span> -->
              <div *ngIf="submitted && f.faterMotherName.errors" class="invalid-feedback">
                <div *ngIf="f.faterMotherName.errors.required">Enter Your Father's/Mother's Name</div>
              </div>
            </div>
					</div>

					<div class="form-group">   
						<div class="col-xs-6">
							<label for="fmphone"><h4>Father's/Mother's Mobile No.<sup>*</sup></h4></label>
              <input type="number" formControlName="fmphone" class="form-control" id="fmphone" 
              [ngClass]="{ 'is-invalid': submitted && f.fmphone.errors }" placeholder="Enter Your Father's/Mother's Phone" title="Enter Your Father's/Mother's Phone">
              <!-- <span *ngIf="!userProfileForm.get('fmphone').valid && userProfileForm.get('fmphone').touched" class="spanVaild">Enter Your Father's Phone Number</span> -->
              <div *ngIf="submitted && f.fmphone.errors" class="invalid-feedback">
                <div *ngIf="f.fmphone.errors.required">Enter Your Father's Phone Number</div>
              </div>
            </div>
					</div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
                <!-- validation error div -->
                <!-- <div>
                  <p>error div</p>
                 <div>
                  <input [ngClass]="{ 'is-invalid': submitted && f.fphone.errors }">
                  <div *ngIf="submitted && f.fphone.errors" class="invalid-feedback">
                    <div *ngIf="f.fphone.errors.required">Enter Your Father's Phone Number</div>
                  </div>
                  </div>
                  <div *ngIf="submitted && f.fmname.errors" class="invalid-feedback">
                    <div *ngIf="f.fmname.errors.required">Enter Your Father's/Mother's Name</div>
                  </div>
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Enter Your Email Address</div>
                  </div> 
                 
                </div> -->
                <!-- validation error div end -->

              	</form>
              
              <hr>
              
             </div><!--/tab-pane-->

        <!-- Password Panal -->
             <div class="tab-pane" id="changePassword">

               <hr>
                  <form class="form" action="##" method="post" id="changePasswordForm" [formGroup]="passwordForm" (submit)="passwordSubmitForm()">
                      <div class="form-group">     
                          <div class="col-xs-6">
                              <label for="password"><h4>Old Password<sup>*</sup></h4></label>
                              <input type="password" class="form-control" formControlName="oldpassword" name="password" id="oldpassword" 
                              [ngClass]="{ 'is-invalid': submitted && p.oldpassword.errors }" placeholder="Enter your New Password" title="Enter your New Password">
                              <div *ngIf="submitted && p.oldpassword.errors" class="invalid-feedback">
                                  <div *ngIf="p.oldpassword.errors.required">Enter Your Old Password</div>
                                </div>
                          </div>
                      </div> 
					<div class="form-group">     
                          <div class="col-xs-6">
                              <label for="password"><h4>New Password<sup>*</sup></h4></label>
                              <input type="password" class="form-control" formControlName="password" name="password" id="newpassword" 
                              [ngClass]="{ 'is-invalid': submitted && p.password.errors }" placeholder="Enter your New Password" title="Enter your New Password">
                              <div *ngIf="submitted && p.password.errors" class="invalid-feedback">
                                  <div *ngIf="p.password.errors.required">Enter Your New Password length between 6 to 15</div>
                                </div>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="password2"><h4>Re-Type Password<sup>*</sup></h4></label>
                              <input type="password" class="form-control" formControlName="repassword" name="password2" id="password2" 
                              [ngClass]="{ 'is-invalid': submitted && p.repassword.errors }" placeholder="Re-Type your password" title="Re-Type your password">
                              <div *ngIf="submitted && p.repassword.errors" class="invalid-feedback">
                                  <div *ngIf="p.repassword.errors.required">Password must match</div>
                                </div>
                              <span *ngIf="!passwordForm.get('repassword').valid && passwordForm.get('repassword').touched" class="spanVaild">Password must match</span>
                     
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>
               
             
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
                                                      