<div class="container btn">
    <button class="btn btn-success" type="button" (click)="showsubjectForm()"> Add New Subjects</button>
   </div>
   <div *ngIf="showsubject">
       <form [formGroup]="myForm">
        <div class="form-group">
            <label for="password" class="col-md-3 control-label">Select class</label>
                <div class="col-md-9">
                <select class="dropdown-menu1" formControlName="class">
                    <option selected="Select the class">Select the class</option>        
                    <option *ngFor="let cls of classes" value="{{cls._id}}">{{cls.class_name}}</option>
                          </select>
                </div>  
          </div>   
        <div class="form-group">
             <label for="pwd">Subjects Name:</label>
             <input type="text" class="form-control" placeholder="Enter the Subject name" formControlName="subjectname">
           </div>
           <button type="button" class="btn btn-primary" (click)="submitsubject()">Submit</button>
       </form>
   </div>
   <div class="container table" >          
     <table class="table table-hover">
       <thead>
         <tr>
           <th>Class Name</th>
           <th>Subjects</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <!-- <td>{{class.class_name}}</td>
           <td>{{class.Subjects.length}}</td> -->
         </tr>
       </tbody>
     </table>
   </div>
   