<div class="container btn">
    <button class="btn btn-success" type="button" (click)="showsubjectForm()"> Add New Subjects</button>
   </div>
   <div *ngIf="showsubject">
       <form [formGroup]="myForm">
        <div class="form-group"> 
            <label for="password" class="col-md-3 control-label">Select class</label>
                <div class="col-md-9">
                <select class="dropdown-menu1" formControlName="class">
                    <option selected="Select the class">Select the class</option>        
                    <option *ngFor="let cls of classes" value="{{cls._id}}">{{cls.class_name}}</option>
                          </select>
                </div>  
          </div>   
        <div class="form-group">
             <label for="pwd">Subjects Name:</label>
             <input type="text" class="form-control" placeholder="Enter the Subject name" formControlName="subjectname">
           </div>
           <button *ngIf="editing" type="submit" class="btn btn-primary" (click)="submitsubject()">Submit</button>
           <button *ngIf="editing" type="button" class="btn btn-danger" (click)="cancelSubjects()">Cancel</button>
           <button *ngIf="!editing" type="submit" class="btn btn-success" (click)="update()">Update</button>
           <button *ngIf="!editing" type="submit" class="btn btn-light" (click)="cancelUpdate()">Cancel</button>
          </form>
   </div>

 
   <div class="container table" *ngIf="showSubjectList">
     <button class="btn btn-danger" type="button" (click)="CancelSubjectList()">Cancel</button>          
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Subjects</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let subject of this.subjectList">
          <tr>
            <td>{{subject.subject_name}}</td> 
            <td class="controls">
             <i class="fas fa-edit" (click)="EditSubject(subject)"></i>
             <i class="fas fa-trash-alt" (click)="deleteSubject(subject)"></i>
         </td>
          </tr>
        </tbody>
      </table>
    </div>

   <div class="container table" >          
     <table class="table table-hover">
       <thead>
         <tr>
           <th>Class Name</th>
           <th>Subjects</th>
           <th>Action</th>
         </tr>
       </thead>
       <tbody *ngFor="let class of classes">
         <tr>
            <td>{{class.class_name}}</td>
           <td>{{class.Subjects.length}}</td> 
           <td class="controls">
            <i class="fas fa-edit" (click)="edit(class)"></i>
            <i class="fas fa-trash-alt" (click)="delete(class)"></i>
        </td>
         </tr>
       </tbody>
     </table>
   </div>
   