
.table{
    margin-top: 10px;
    border: 10
  }

  .table tr td {
    line-height: 16px;
}

.table .controls i {
    display: none;
}

.table tr:hover .controls i {
    display: inline-block;
}

.table .controls i {
    margin: 12px;
    margin-top: 0;
    margin-left: -5px;
    margin-bottom: 0;
    cursor: pointer;
}

.table .controls i:hover {
    color: teal;
}

thead{
background-color: rgb(77, 77, 153);
color: white;
}
.addsub{
border: #6559c5; 
border-width: thick;
border-style: inset;
border-radius: 15px;
padding: 20px;
background: #dbd2e4;
}

