<link rel="stylesheet" href="../../../assets/css/style.css">    
    <div class="main">
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="../../../assets/images/portfolio/signin-image.jpg" alt="sing up image"></figure>
                        <a routerLink="/signup"class="signup-image-link">Create an account</a>
                    </div>
                    <div class="signin-form">
                        <h2 class="form-title">Sign in</h2>
                        <form id="loginform" class="form-horizontal" role="form" form [formGroup]="signinForm" (submit)="CheckUserAuth()">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input formControlName="email" type="text" name="email" id="email" class="form-control" placeholder="Email"/>
                                <span *ngIf="!signinForm.get('email').valid && signinForm.get('email').touched" class="spanVaild">Please Enter Your valid Email Address</span>

                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input formControlName="password" type="password" name="password" id="password" class="form-control" placeholder="Password"/>
                                <span *ngIf="!signinForm.get('password').valid && signinForm.get('password').touched" class="spanVaild">Please Enter Your Password</span>
                            </div>
                            <div  class="form-group">
                                    <select id="dropdown-menu1" formControlName="role" class="form-control" >
                                    
                                                <option selected="select">Select Role</option>
                                                <option value="student" id="student">Student</option>
                                                <option value="teacher" id="teacher">Teacher</option>
                                                <option value="principal" id="principal">Principal</option>
                                              </select>
                                            </div>  
                                
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div style="margin-top:10px" class="form-group">


                                    <div class="col-sm-12 controls">
                                       
                                         <button id="btn-signup" type="submit" class="btn btn-success"><i class="icon-hand-right"></i> Sign In</button>                                 
                                       
                                       </div>
                                   </div>
   
                        </form>

                    </div>
                </div>
            </div>
        </section>

    </div>


     