

table, th, td{
    border: 1px solid red;
    padding: 25px;
}

  #viewComplaintDiv{
      overflow:hidden;  
     text-align: center; 
     height:auto; 
} 
  #studentComplaintDiv{ 
    overflow: hidden;
    position: absolute;
    width: 100%;
} 


