

table, th, td{
    border: 1px solid red;
    padding: 25px;
}

 /* #viewComplaintDiv{ 
     float: 
      overflow:hidden;  
     text-align: center; 
     margin-bottom: 10%; 
} */

#studentComplaintDiv{
    overflow: hidden;
    position: absolute;
    float:right;
    height:auto;


} 
