<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!-- circle button link -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<!--    
<div id="desBeforeQuiz">  
    <form [formGroup]="takeQuizForm" class="subjectsdiv"> -->
            <!-- <div class="topnav"> 
        <select class="droup-down" formControlName="course" [(ngModel)]="comp">
                <option [ngValue]="undefined" disabled selected>Computer</option>
                <option value="chapter1">C Programming</option>
                <option value="chapter2">Functions and Recursion</option>
                <option value="chapter3">Lists,Stacks and Queues</option>
                <option value="chapter4">File Handling</option>
        </select>
        <select class="droup-down" formControlName="course" [(ngModel)]="math">
                <option [ngValue]="undefined" disabled selected>Mathematics</option>
                <option value="chapter1">Sets and Functions</option>
                <option value="chapter2">Algebra</option>
                <option value="chapter3">Calculus</option>
                <option value="chapter4">Statistics</option>
        </select>
        <select class="droup-down" formControlName="course" [(ngModel)]="eng">
                <option [ngValue]="undefined" disabled selected>English</option>
                <option value="chapter1">Antonyms</option>
                <option value="chapter2">Ordering of Words</option>
                <option value="chapter3">Sentence Improvement</option>
                <option value="chapter4">Ordering of Sentences</option>
        </select> 
        <select class="droup-down" formControlName="course" [(ngModel)]="log">
                <option [ngValue]="undefined" disabled selected>Logical Reasoning</option>
                <option value="chapter1">Number Series</option>
                <option value="chapter2">Verbal Classification</option>
                <option value="chapter3">Artificial Language</option>
                <option value="chapter4">Letter and Symbol Series</option>
                </select>
</div> -->

<!-- description div -->
<!-- <div class="description">
        <h3>Platform Instructions:</h3>
        <ul value="disc">
        <li>The countdown timer at the top, left-hand side of the screen will display the time avaliable for you to complete the examination.</li>
        <li>Test will be submited automatically if the time expired.</li>
        <li>If you have answerd a quetion you can click on the 'NEXT' button to move the next quetion. The answer will be saved automatically.</li>
        <li>If you want to see previous quetion you can click on the 'Previous' button to move back the previous quetion and change the answer.</li>
        <li>Don't refresh the page or click the browser back button when test is in progress.</li>
        <li>Clicking browser back button will reload page and you loss your data.</li>
        </ul>
        <h3>Color Codes</h3>
        <img src="../../assets/images/quizimg.jpg" alt="colorcodeimg">
        <h3>Test Instructions</h3>
        <ul value="disc">
                <li>You can retake this test at any number of times</li>
                <li>You can pause and resume test at any point of time</li>
                <li>Positive and nagetive marks will be mantion in each quetion</li>
        </ul>
</div>
   
    <div class="startQuizdiv">
    <button type="button" class="startQuizbtn" (click)="startQuizbtn()">Start Quiz</button>
     </div>
</form> 
</div>  -->
 
<!-- style="visibility: hidden;" -->
<div id="onbuttonVisible"  >
<div class="container1">
<div class="container-fluid bg-info">
<div class="timer">
        <p class="time">{{timeLeft}} Seconds Left....</p> 
</div>
<div class="modal-dialog">
    <!-- <div  *ngFor= "let quiz of quizs"> -->
<div class="modal-content">
 <div class="modal-header" >
                <!-- {{quiz.id}} before span -->
    <h3><span class="label label-warning" id="qid">1</span> What is your name</h3>
</div>
<div class="modal-body"> 
    <div class="col-xs-3 col-xs-offset-5">
       <div id="loadbar" style="display: none;">
          <div class="blockG" id="rotateG_01"></div>
          <div class="blockG" id="rotateG_02"></div>
          <div class="blockG" id="rotateG_03"></div>
          <div class="blockG" id="rotateG_04"></div>
          <div class="blockG" id="rotateG_05"></div>
          <div class="blockG" id="rotateG_06"></div>
          <div class="blockG" id="rotateG_07"></div>
          <div class="blockG" id="rotateG_08"></div>
      </div>
  </div> 
 
  <div class="quiz" id="quiz" data-toggle="buttons">

        <label class="element-animation1 btn btn-lg btn-primary btn-block" (click)="sendvalue()"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1" >abc</label>
        <label class="element-animation2 btn btn-lg btn-primary btn-block" ><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="2" >bca</label>
        <label class="element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="3" >bca</label>
        <label class="element-animation4 btn btn-lg btn-primary btn-block" ><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="4">bca</label>
     </div>

  <!-- <div class="quiz" id="quiz" data-toggle="buttons">   
   <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right">     
   </i></span><input type="radio" name="abc" value="abcd">rahul</label>
   
</div> -->

</div>
<div class="modal-footer text-muted">
<div class="nav-buttons">
        <button class="nav-button prv" id="prv" (click)="prvque()" style="visibility: hidden;">Previous</button>
</div>
<div class="nav-buttons">
        <button class="nav-button next" id="next" (click)="nextque()">Next</button>
</div>
<div>
        <button tye="button" class="btn btn-primary" (click)="SubmitData()">Submit</button>
    </div>
<span id="answer"></span>
</div>
</div>
</div>

</div>
</div>

<!-- all quetions options-->
<div class="allque">
        <div class="modal-content">
        <div class="modal-content">
           <button type="button" class="btn btn-default btn-circle btn-lg" *ngFor="let item of [1,2,3,4,5]; let i=index" (click)="getquestion(item)">{{item}}</button>
        </div>
    </div>
</div>
</div>





