



<!-- quiz -->
<div class="quiz">
    <div class="row">
        <div class="col col-md-3">
            <div class="row">
                <div class="col col-md-12">
                    <!-- timer -->
                    <div class="timer">
                        <h1>Time Left(sec)</h1>
                        <p>00:{{timeLeft}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <!-- questions -->
                    <div class="questions">
                        <h1>Questions</h1>
                        <div class="questions-list">
                            <div class="row">
                                <div class="col col-md-3" *ngFor="let question of questions_list;let i=index">
                                    <div class="ques" [ngClass]="{'selected-option':i+1==active_question,'selected':question.isSelected!=null && question.isSelected>=0}" (click)="changeQuestion(i)">
                                        <p>{{ i+1 }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col sm-9">
            <div class="row">
                <div class="col col-md-12">
                    <div class="question">
                        <div class="row">
                            <div class="col col-md-1">
                                <div class="number">
                                    <p>{{ active_question }}</p>
                                </div>
                            </div>
                            <div class="col col-md-11">
                                <div class="active-question">
                                    <p>{{ questions_list[active_question-1]?.question_name}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 offset-md-1">
                                <div class="options">
                                    <div class="marks">
                                        <p>Marks: 1</p>
                                        <p>Negative Marks: 0.25</p>
                                    </div>
                                    <div class="option hoverClass" *ngFor="let option of questions_list[active_question-1]?.Options;let optIndex=index" (click)="selectOption(active_question-1,optIndex,option['IsAnswer'])" [ngClass]="{'selected':questions_list[active_question-1]?.isSelected==optIndex,'hoverClass':questions_list[active_question-1]?.isSelected!=optIndex}">
                                        <p>{{ option.option_name }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-1 offset-md-6">
                                <a class="clear" (click)="clearOption(active_question-1)">
                                    clear
                                </a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-success submit" (click)="onSubmit()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>