
<!-- style="visibility: hidden;" -->
<!-- <div id="onbuttonVisible"  >
<div class="container1">
<div class="container-fluid bg-info">
<div class="timer">
        <p class="time">{{timeLeft}} Seconds Left....</p> 
</div>
<div class="modal-dialog">
<div class="modal-content">
 <div class="modal-header" >
    <h3><span class="label label-warning" id="qid">1</span> What is your name</h3>
</div>
<div class="modal-body"> 
    <div class="col-xs-3 col-xs-offset-5">
       <div id="loadbar" style="display: none;">
          <div class="blockG" id="rotateG_01"></div>
          <div class="blockG" id="rotateG_02"></div>
          <div class="blockG" id="rotateG_03"></div>
          <div class="blockG" id="rotateG_04"></div>
          <div class="blockG" id="rotateG_05"></div>
          <div class="blockG" id="rotateG_06"></div>
          <div class="blockG" id="rotateG_07"></div>
          <div class="blockG" id="rotateG_08"></div>
      </div>
  </div> 
 
  <div class="quiz" id="quiz" data-toggle="buttons">

        <label class="element-animation1 btn btn-lg btn-primary btn-block" (click)="sendvalue()"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1" >abc</label>
        <label class="element-animation2 btn btn-lg btn-primary btn-block" ><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="2" >bca</label>
        <label class="element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="3" >bca</label>
        <label class="element-animation4 btn btn-lg btn-primary btn-block" ><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="4">bca</label>
     </div>


</div>
<div class="modal-footer text-muted">
<div class="nav-buttons">
        <button class="nav-button prv" id="prv" (click)="prvque()" style="visibility: hidden;">Previous</button>
</div>
<div class="nav-buttons">
        <button class="nav-button next" id="next" (click)="nextque()">Next</button>
</div>
<div>
        <button tye="button" class="btn btn-primary" (click)="SubmitData()">Submit</button>
    </div>
<span id="answer"></span>
</div>
</div>
</div>

</div>
</div>

<div class="allque">
        <div class="modal-content">
        <div class="modal-content">
           <button type="button" class="btn btn-default btn-circle btn-lg" *ngFor="let item of [1,2,3,4,5]; let i=index" (click)="getquestion(item)">{{item}}</button>
        </div>
    </div>
</div>
</div> -->


<!-- quiz -->
<div class="quiz">
    <div class="row">
        <div class="col col-md-3">
            <div class="row">
                <div class="col col-md-12">
                    <!-- timer -->
                    <div class="timer">
                        <h1>Time Left(sec)</h1>
                        <p>00:{{timeLeft}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <!-- questions -->
                    <div class="questions">
                        <h1>Questions</h1>
                        <div class="questions-list">
                            <div class="row">
                                <div class="col col-md-3" *ngFor="let question of questions_list;let i=index">
                                    <div class="ques" [ngClass]="{'selected-option':i+1==active_question,'selected':question.isSelected!=null && question.isSelected>=0}" (click)="changeQuestion(i)">
                                        <p>{{ i+1 }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col sm-9">
            <div class="row">
                <div class="col col-md-12">
                    <div class="question">
                        <div class="row">
                            <div class="col col-md-1">
                                <div class="number">
                                    <p>{{ active_question }}</p>
                                </div>
                            </div>
                            <div class="col col-md-11">
                                <div class="active-question">
                                    <p>{{ questions_list[active_question-1]?.question_name}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 offset-md-1">
                                <div class="options">
                                    <div class="marks">
                                        <p>Marks: 1</p>
                                        <p>Negative Marks: 0.25</p>
                                    </div>
                                    <div class="option hoverClass" *ngFor="let option of questions_list[active_question-1]?.Options;let optIndex=index" (click)="selectOption(active_question-1,optIndex,option['IsAnswer'])" [ngClass]="{'selected':questions_list[active_question-1]?.isSelected==optIndex,'hoverClass':questions_list[active_question-1]?.isSelected!=optIndex}">
                                        <p>{{ option.option_name }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-1 offset-md-6">
                                <a class="clear" (click)="clearOption(active_question-1)">
                                    clear
                                </a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-success  btn-lg submit" (click)="onSubmit()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>