<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/studentHome">Dashboard</a>
      </li>
    </ol>

    
    <!-- Icon Cards-->
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-comments"></i>
            </div>
            <div class="mr-5">Profile</div>
          </div>
          <a routerLink="/profile" class="card-footer text-white clearfix small z-1">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fas fa-fw fa-life-ring"></i>
            </div>
            <div class="mr-5">Complaints</div>
          </div>
          <a routerLink="/complaints" class="card-footer text-white clearfix small z-1">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>

    <!-- DataTables Example -->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i> Marks Record</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Marks</th>
                <th>Chapter</th>
              </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let marks of this.marksData;let i=index">
                      <td>{{marks.marks}}</td>
                      <td>{{marks?.Chapters[0]?.chapter_name}}</td>
                    </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>