<div class="card mb-3">
    <img src="https://imageog.flaticon.com/icons/png/512/0/340.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" alt="backImg" style="float: left; height: 90px;width: 120px;" (click)="goBack()">
   
    <div class="card-header">
        <i class="fas fa-table"></i> Student Record</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th> Name</th> 
                        <th>Email Address</th>
                    </tr>
                </thead>
                <tbody *ngFor="let detail of this.details">
                    <tr>
                        <td>{{detail.username}}  </td>
                        <td> {{detail.email}}  </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

