th{
    background-color: rgb(77, 77, 153);
    color: white;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .recordText{
    text-align: center;
    color:rgb(77, 77, 153);
  }
  h2{
    font-size: 3rem;
  }