<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="setimg">
<div class="container">    
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                    <div style="float:right; font-size: 80%; position: relative; top:-10px">
                        <a [routerLink]="['/login']">Sign In</a>
                    </div>
                </div>     

                <div style="padding-top:30px" class="panel-body" >

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
            
        <form id="signupform" class="form-horizontal" role="form" form [formGroup]="signupForm">
              
              <div id="signupalert" style="display:none" class="alert alert-danger">
                  <p>Error:</p>
                  <span></span>
              </div>
                  
                  
              <div class="form-group">
                  <label for="User Name" class="col-md-3 control-label">User Name</label>
                  <div class="col-md-9">
                      <input formControlName="username" type="text" class="form-control" name="username" placeholder="User Name">
                    <span *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched" class="spanVaild">Please Enter Your User Name</span>
                    </div>

              </div>
              <div class="form-group">
                <label for="email" class="col-md-3 control-label">Email</label>
                <div class="col-md-9">
                    <input formControlName="email" type="text" class="form-control" name="email" placeholder="Email Address">
                    <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" class="spanVaild">Please Enter Your valid Email Address</span>
                    
                </div>
            </div>

              <div class="form-group">
                  <label for="password" class="col-md-3 control-label">Password</label>
                  <div class="col-md-9">
                      <input formControlName="password" type="password" class="form-control" name="passwd" placeholder="Password">
                      <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched" class="spanVaild">Please Enter Your Password</span>
                    
                    </div>
              </div>
                  
              <div class="form-group">
                  <label for="password" class="col-md-3 control-label">ReType Password</label>
                  <div class="col-md-9">
                      <input formControlName="repassword" type="password" class="form-control" name="passwd" placeholder="Re-Type Password">
                      <span *ngIf="!signupForm.get('repassword').valid && signupForm.get('repassword').touched" class="spanVaild">Password must match</span>
                      <!-- <span *ngIf="signupForm.get('repassword').errors.passwordConfirming && signupForm.get('repassword').touched" class="spanVaild">Password must match</span>                    -->
                    </div>
              </div>

              <div class="form-group">
                  <!-- Button -->                                        
             <div class="col-md-offset-3 col-md-9">
                    <a [routerLink]="['/login']">
                      <button id="btn-signup" value="submit" type="submit" class="btn btn-primary" [disabled]="!signupForm.valid"><i class="icon-hand-right"></i> Sign Up</button>
                      <span style="margin-left:8px;">or</span> 
                      </a> 
                  </div>
              </div>
              
              <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">
                  
                  <div class="col-md-offset-3 col-md-9">
                      <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
                  </div>                                           
                      
              </div> 
              
              
              
          </form>
       </div>
  </div>




</div> 
</div> 
</div>