/* Footer */

#footer {
    text-align: center;
    margin-top: 4em;
}

    #footer a {
        color: inherit;
    }

    #footer:before {
        content: '';
        display: inline-block;
        width: 6em;
        height: 2px;
        background-color: #666666;
        margin-bottom: 4em;
    }

    #footer .copyright {
        font-size: 0.8em;
    }

