/* Footer */

#footer {
    text-align: center;
    margin-top: 4em;
}

    #footer a {
        color: inherit;
    }

    #footer:before {
        content: '';
        display: inline-block;
        width: 6em;
        height: 2px;
        background-color: #666666;
        margin-bottom: 4em;
    }

    #footer .copyright {
        font-size: 0.8em;
    }

    @media screen and (max-width: 736px) {

        #footer {
            margin-top: 2em;
        }

            #footer:before {
                margin-bottom: 2em;
            }

    }

/* Footer */
.footer {
padding: 20px;
text-align: center;
background: orangered;
/* margin-top: 20px; */
}
.footer h4{
  text-align: center;
  font-size: 15px;
}
